.area {
  .main-content {
    .aside {
      display: flex;
      justify-content: center;
      align-items: center;

      .pressButton {
        &:last-child {
          margin-bottom: 2rem;
        }
      }
    }

    .orange-box {
      margin-bottom: 2rem;
    }
  }
}
