.area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-color: #d9bdad;

  .main-content {
    aside {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .area {
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;

    .main-content {
      display: flex;
      justify-content: space-between;
      aside {
        display: inline-block;

        img {
          width: 30rem;
          height: 30rem;
        }
      }
    }
  }
}
