.area {

    display: flex;
    flex-direction: column;

    min-width: 95vw;



    background-color: #D9BDAD;
    border-radius: 0.75rem;
}


@media(min-width: 768px){
    .area {
        min-width: 95vw;
        min-height: 95vh;
        border-radius: 1rem;
        overflow: hidden;
    }
}
